.logo{
    text-align: center;


}
.logo a{
   /* font-family: 'Dancing Script', cursive; */
   /*font-family: 'Permanent Marker', cursive; */
   font-family: 'Amatic SC', cursive;
    font-size: 50px;
    text-decoration: none;
    color: #333
}