.logo{
    text-align: center;
    
}
.logo a{
   /* font-family: 'Dancing Script', cursive; */
   /*font-family: 'Permanent Marker', cursive; */
   font-family: 'Kelly Slab', cursive;
    font-size: 70px;
    text-decoration: none;
    color: black
}