.galleryPost{
    display: flex;
    justify-content: space-between;
    
}
.galleryPost img{
    width: 100%;   
}
.sideImageWrapper div{
    
    padding: 1px;
    box-sizing: border-box;
    max-width: 100%;
}
.sideImageWrapper img{ 
    position: relative;
    min-width: 100%;
    max-height: 100%;
   
}
 
.postImageWrapper{
    height: 100%;
    overflow: hidden;
}
.postImageWrapper img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
max-height: 100%;
    object-fit: cover;
}

.contentWrapper span{
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    color: #6c6c6c;
}
.postedOn{
    color: red;
    font-style: italic;
    font-size: 10px;
}
.contentWrapper h3{
    
    padding: 5px;
    color: black;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
}
.frikkinHeader{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 30px;
    
}
.buttonStuff{
    text-align: center;
}
.homeContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.content {
    overflow: hidden;
    line-height: 1.2em;
    height: 1.4em;
  }
  .content.collapsed{
    overflow: hidden;
  }
  .content.expanded{
    overflow: visible;
    height: auto;
  }
  
  button {
    margin-top: 20px;
    background-color: whitesmoke; /* Green */
    border: none;
    color: black;
    padding: 15px 10px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    
  }  
  button:hover{
      background-color: black;
      color: whitesmoke;
  }
  button:focus {outline:0;}

  .textBlog{
      font-size: 15px;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    margin: 25px;
    color: #565673;
    letter-spacing: 0.5px;
    font-weight: 300;
  }
  .sideImageHeight{
      height: 235px;
  }
  .sideImageHeight:last-child{
    height: 235.5px;
    max-height: 100%;
  }


  .leftImage {
      width: 70%;
      float: left;
  }
  .rightImage {
      width: 30%;
      float: right;
      max-height: 231px;
  }
  .rightImage:nth-child(2) {
    height: 230px;
  }
  .rightImage img{
        max-height: 231px;
        
  }
  .image{
    box-sizing: border-box;
    padding-right: 2px;
    width: 100%;
    
  }
  .firstContainer{
     
  }
  @media only screen and (max-width: 600px) {
      max-height: 232px;
  }
  